# Script folder
scripts/chroot
scripts/*.img
scripts/*.id_rsa
scripts/*.id_rsa.pub
scripts/fs_*
# Generic Files
tmp
.gdb_*
.vscode
!kernel/build.sh
kernel/kernel-*
kernel/linux-*
log.txt
x.sh
dbg
zone*/
