scripts/chroot
scripts/*.img
scripts/*.id_rsa
scripts/*.id_rsa.pub
zone/bzImage*
zone/vmlinux*
tmp
kernel/
zone/module/*.cmd
zone/module/*.ko
zone/module/*.o
zone/module/*.mod
zone/module/*.mod.c
zone/module/Module.symvers
zone/module/modules.order
.gdb_*
.vscode
main
main.c
exp*
!kernel/build.sh
