scripts/chroot
scripts/*.img
scripts/*.id_rsa
scripts/*.id_rsa.pub
scripts/fs_*
zone/bzImage*
zone/vmlinux*
tmp
zone/module/*.cmd
zone/module/*.ko
zone/module/*.o
zone/module/*.mod
zone/module/*.mod.c
zone/module/Module.symvers
zone/module/modules.order
.gdb_*
.vscode
main
main.c
exp*
!kernel/build.sh
kernel/kernel-*
kernel/linux-*
log*
x.sh
dbg
zone/module/ko_n132.c
